@charset "UTF-8";
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
/* line 9, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 33, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 54, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 67, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 77, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 98, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 110, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 118, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 127, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 136, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 145, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 154, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 162, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 170, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
sup {
  top: -0.5em;
}

/* line 174, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 185, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 193, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 204, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 212, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 221, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 229, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 252, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 266, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 277, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 290, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 302, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 311, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 322, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 334, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 346, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 356, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 367, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 376, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 387, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 396, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 405, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 416, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 421, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
td,
th {
  padding: 0;
}

/* line 4, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/neat-1.7.4/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/neat-1.7.4/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/**
 * selectize.css (v0.12.6)
 * Copyright (c) 2013–2015 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */
/* line 17, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
  visibility: visible !important;
  background: #f2f2f2 !important;
  background: rgba(0, 0, 0, 0.06) !important;
  border: 0 none !important;
  -webkit-box-shadow: inset 0 0 12px 4px #fff;
  box-shadow: inset 0 0 12px 4px #fff;
}

/* line 25, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
  content: '!';
  visibility: hidden;
}

/* line 29, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.plugin-drag_drop .ui-sortable-helper {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* line 33, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown-header {
  position: relative;
  padding: 5px 8px;
  border-bottom: 1px solid #d0d0d0;
  background: #f8f8f8;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

/* line 42, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown-header-close {
  position: absolute;
  right: 8px;
  top: 50%;
  color: #303030;
  opacity: 0.4;
  margin-top: -12px;
  line-height: 20px;
  font-size: 20px !important;
}

/* line 52, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown-header-close:hover {
  color: #000000;
}

/* line 55, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown.plugin-optgroup_columns .optgroup {
  border-right: 1px solid #f2f2f2;
  border-top: 0 none;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 63, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
  border-right: 0 none;
}

/* line 66, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
  display: none;
}

/* line 69, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
  border-top: 0 none;
}

/* line 72, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.plugin-remove_button [data-value] {
  position: relative;
  padding-right: 24px !important;
}

/* line 76, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.plugin-remove_button [data-value] .remove {
  z-index: 1;
  /* fixes ie bug (see #392) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 17px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  padding: 2px 0 0 0;
  border-left: 1px solid #d0d0d0;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 100, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.plugin-remove_button [data-value] .remove:hover {
  background: rgba(0, 0, 0, 0.05);
}

/* line 103, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.plugin-remove_button [data-value].active .remove {
  border-left-color: #cacaca;
}

/* line 106, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
  background: none;
}

/* line 109, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.plugin-remove_button .disabled [data-value] .remove {
  border-left-color: #ffffff;
}

/* line 112, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.plugin-remove_button .remove-single {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 23px;
}

/* line 118, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control {
  position: relative;
}

/* line 121, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: #303030;
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  -webkit-font-smoothing: inherit;
}

/* line 130, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background: #fff;
  cursor: text;
  display: inline-block;
}

/* line 136, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input {
  border: 1px solid #d0d0d0;
  padding: 8px 8px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 153, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.multi .selectize-input.has-items {
  padding: 6px 8px 3px;
}

/* line 156, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input.full {
  background-color: #fff;
}

/* line 159, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input.disabled,
.selectize-input.disabled * {
  cursor: default !important;
}

/* line 163, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input.focus {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

/* line 167, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input.dropdown-active {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

/* line 172, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input > * {
  vertical-align: baseline;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 179, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.multi .selectize-input > div {
  cursor: pointer;
  margin: 0 3px 3px 0;
  padding: 2px 6px;
  background: #f2f2f2;
  color: #303030;
  border: 0 solid #d0d0d0;
}

/* line 187, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.multi .selectize-input > div.active {
  background: #e8e8e8;
  color: #303030;
  border: 0 solid #cacaca;
}

/* line 192, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
  color: #7d7d7d;
  background: #ffffff;
  border: 0 solid #ffffff;
}

/* line 198, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input > input {
  display: inline-block !important;
  padding: 0 !important;
  min-height: 0 !important;
  max-height: none !important;
  max-width: 100% !important;
  margin: 0 2px 0 0 !important;
  text-indent: 0 !important;
  border: 0 none !important;
  background: none !important;
  line-height: inherit !important;
  -webkit-user-select: auto !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* line 213, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input > input::-ms-clear {
  display: none;
}

/* line 216, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input > input:focus {
  outline: none !important;
}

/* line 219, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input::after {
  content: ' ';
  display: block;
  clear: left;
}

/* line 224, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input.dropdown-active::before {
  content: ' ';
  display: block;
  position: absolute;
  background: #f0f0f0;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 234, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown {
  position: absolute;
  z-index: 10;
  border: 1px solid #d0d0d0;
  background: #fff;
  margin: -1px 0 0 0;
  border-top: 0 none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

/* line 250, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown [data-selectable] {
  cursor: pointer;
  overflow: hidden;
}

/* line 254, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown [data-selectable] .highlight {
  background: rgba(125, 168, 208, 0.2);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

/* line 260, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown .option,
.selectize-dropdown .optgroup-header {
  padding: 5px 8px;
}

/* line 264, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown .option,
.selectize-dropdown [data-disabled],
.selectize-dropdown [data-disabled] [data-selectable].option {
  cursor: inherit;
  opacity: 0.5;
}

/* line 270, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown [data-selectable].option {
  opacity: 1;
}

/* line 273, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown .optgroup:first-child .optgroup-header {
  border-top: 0 none;
}

/* line 276, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown .optgroup-header {
  color: #303030;
  background: #fff;
  cursor: default;
}

/* line 281, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown .active {
  background-color: #f5fafd;
  color: #495c68;
}

/* line 285, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown .active.create {
  color: #495c68;
}

/* line 288, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown .create {
  color: rgba(48, 48, 48, 0.5);
}

/* line 291, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
  -webkit-overflow-scrolling: touch;
}

/* line 297, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
  cursor: pointer;
}

/* line 301, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
  cursor: text;
}

/* line 305, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.single .selectize-input:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #808080 transparent transparent transparent;
}

/* line 318, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.single .selectize-input.dropdown-active:after {
  margin-top: -4px;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #808080 transparent;
}

/* line 323, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.rtl.single .selectize-input:after {
  left: 15px;
  right: auto;
}

/* line 327, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.rtl .selectize-input > input {
  margin: 0 4px 0 -2px !important;
}

/* line 330, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control .selectize-input.disabled {
  opacity: 0.5;
  background-color: #fafafa;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/assets/bootstrap/glyphicons-halflings-regular-f495f34e4f177cf0115af995bbbfeb3fcabc88502876e76fc51a4ab439bc8431.eot");
  src: url("/assets/bootstrap/glyphicons-halflings-regular-f495f34e4f177cf0115af995bbbfeb3fcabc88502876e76fc51a4ab439bc8431.eot?#iefix") format("embedded-opentype"), url("/assets/bootstrap/glyphicons-halflings-regular-fc969dc1c6ff531abcf368089dcbaf5775133b0626ff56b52301a059fc0f9e1e.woff") format("woff"), url("/assets/bootstrap/glyphicons-halflings-regular-bd18efd3efd70fec8ad09611a20cdbf99440b2c1d40085c29be036f891d65358.ttf") format("truetype"), url("/assets/bootstrap/glyphicons-halflings-regular-d168d50a88c730b4e6830dc0da2a2b51dae4658a77d9619943c27b8ecfc19d1a.svg#glyphicons_halflingsregular") format("svg");
}
/* line 25, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_glyphicons.scss */
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 37, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_glyphicons.scss */
.glyphicon-calendar:before {
  content: "\e109";
}

/* line 38, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_glyphicons.scss */
.glyphicon-chevron-down:before {
  content: "\e114";
}

/* line 39, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_glyphicons.scss */
.glyphicon-chevron-left:before {
  content: "\e079";
}

/* line 40, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_glyphicons.scss */
.glyphicon-chevron-right:before {
  content: "\e080";
}

/* line 41, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_glyphicons.scss */
.glyphicon-chevron-up:before {
  content: "\e113";
}

/* line 42, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_glyphicons.scss */
.glyphicon-remove:before {
  content: "\e014";
}

/* line 43, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_glyphicons.scss */
.glyphicon-screenshot:before {
  content: "\e087";
}

/* line 44, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_glyphicons.scss */
.glyphicon-time:before {
  content: "\e023";
}

/* line 45, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_glyphicons.scss */
.glyphicon-trash:before {
  content: "\e020";
}

/* line 12, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_tables.scss */
.table-condensed > thead > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}

/* line 10, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_component-animations.scss */
.collapse {
  display: none;
}
/* line 13, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_component-animations.scss */
.collapse.in {
  display: block;
}

/* line 18, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_component-animations.scss */
tr.collapse.in {
  display: table-row;
}

/* line 20, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_component-animations.scss */
tbody.collapse.in {
  display: table-row-group;
}

/* line 22, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_component-animations.scss */
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height .35s ease;
}

/* line 6, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_dropdowns.scss */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
/* line 29, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_dropdowns.scss */
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
/* line 35, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_dropdowns.scss */
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
/* line 40, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_dropdowns.scss */
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

/* line 53, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_dropdowns.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

/* line 63, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_dropdowns.scss */
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

/* line 78, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_dropdowns.scss */
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: #777777;
}

/* line 86, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_dropdowns.scss */
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}

/* line 97, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_dropdowns.scss */
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

/* line 16, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.pull-right {
  float: right !important;
}

/*!
 * Datetimepicker for Bootstrap 3
 * version : 4.15.35
 * https://github.com/Eonasdan/bootstrap-datetimepicker/
 */
/* line 26, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget {
  list-style: none;
}

/* line 29, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget.dropdown-menu {
  margin: 2px 0;
  padding: 4px;
  width: 19em;
}

@media (min-width: 768px) {
  /* line 35, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}
@media (min-width: 992px) {
  /* line 40, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}
@media (min-width: 1200px) {
  /* line 45, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}
/* line 49, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget.dropdown-menu:before,
.bootstrap-datetimepicker-widget.dropdown-menu:after {
  content: '';
  display: inline-block;
  position: absolute;
}

/* line 55, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #cccccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  top: -7px;
  left: 7px;
}

/* line 63, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  top: -6px;
  left: 8px;
}

/* line 70, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget.dropdown-menu.top:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #cccccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  bottom: -7px;
  left: 6px;
}

/* line 78, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  bottom: -6px;
  left: 7px;
}

/* line 85, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
  left: auto;
  right: 6px;
}

/* line 89, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
  left: auto;
  right: 7px;
}

/* line 93, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .list-unstyled {
  margin: 0;
}

/* line 96, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget a[data-action] {
  padding: 6px 0;
}

/* line 99, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget a[data-action]:active {
  box-shadow: none;
}

/* line 102, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second {
  width: 54px;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}

/* line 110, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget button[data-action] {
  padding: 6px;
}

/* line 113, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Increment Hours";
}

/* line 124, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Increment Minutes";
}

/* line 135, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Decrement Hours";
}

/* line 146, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Decrement Minutes";
}

/* line 157, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Show Hours";
}

/* line 168, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Show Minutes";
}

/* line 179, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Toggle AM/PM";
}

/* line 190, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .btn[data-action="clear"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Clear the picker";
}

/* line 201, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .btn[data-action="today"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Set the date to today";
}

/* line 212, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .picker-switch {
  text-align: center;
}

/* line 215, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .picker-switch::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Toggle Date and Time Screens";
}

/* line 226, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .picker-switch td {
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  line-height: inherit;
}

/* line 233, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .picker-switch td span {
  line-height: 2.5;
  height: 2.5em;
  width: 100%;
}

/* line 238, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table {
  width: 100%;
  margin: 0;
}

/* line 242, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
  text-align: center;
  border-radius: 4px;
}

/* line 247, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table th {
  height: 20px;
  line-height: 20px;
  width: 20px;
}

/* line 252, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table th.picker-switch {
  width: 145px;
}

/* line 255, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table th.disabled,
.bootstrap-datetimepicker-widget table th.disabled:hover {
  background: none;
  color: #777777;
  cursor: not-allowed;
}

/* line 261, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table th.prev::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Previous Month";
}

/* line 272, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table th.next::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Next Month";
}

/* line 283, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table thead tr:first-child th {
  cursor: pointer;
}

/* line 286, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  background: #eeeeee;
}

/* line 289, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td {
  height: 54px;
  line-height: 54px;
  white-space: normal;
  width: 54px;
}

/* line 295, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td.cw {
  font-size: .8em;
  height: 20px;
  line-height: 20px;
  color: #777777;
}

/* line 301, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td.day {
  height: 20px;
  line-height: 20px;
  width: 20px;
}

/* line 306, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover {
  background: #eeeeee;
  cursor: pointer;
}

/* line 313, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td.old,
.bootstrap-datetimepicker-widget table td.new {
  color: #777777;
}

/* line 317, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td.today {
  position: relative;
}

/* line 320, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td.today:before {
  content: '';
  display: inline-block;
  border: solid transparent;
  border-width: 0 0 7px 7px;
  border-bottom-color: #337ab7;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}

/* line 331, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #337ab7;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 337, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td.active.today:before {
  border-bottom-color: #fff;
}

/* line 340, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td.disabled,
.bootstrap-datetimepicker-widget table td.disabled:hover {
  background: none;
  color: #777777;
  cursor: not-allowed;
}

/* line 346, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td span {
  display: inline-block;
  width: 54px;
  height: 54px;
  line-height: 54px;
  margin: 2px 1.5px;
  cursor: pointer;
  border-radius: 4px;
}

/* line 355, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td span:hover {
  background: #eeeeee;
}

/* line 358, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td span.active {
  background-color: #337ab7;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 363, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td span.old {
  color: #777777;
}

/* line 366, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td span.disabled,
.bootstrap-datetimepicker-widget table td span.disabled:hover {
  background: none;
  color: #777777;
  cursor: not-allowed;
}

/* line 372, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget.usetwentyfour td.hour {
  height: 27px;
  line-height: 27px;
}

/* line 376, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget.wider {
  width: 21em;
}

/* line 379, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .datepicker-decades .decade {
  line-height: 1.8em !important;
}

/* line 382, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.input-group.date .input-group-addon {
  cursor: pointer;
}

/* line 385, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* line 1, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_forms.scss */
fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 8, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_forms.scss */
legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0;
}

/* line 14, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_forms.scss */
label {
  display: block;
  font-weight: 600;
}

/* line 19, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_forms.scss */
input,
select {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
}

/* line 26, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_forms.scss */
[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
input:not([type]),
textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #dfe0e1;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  padding: 0.5em;
  transition: border-color 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 100%;
}
/* line 54, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_forms.scss */
[type="color"]:hover,
[type="date"]:hover,
[type="datetime"]:hover,
[type="datetime-local"]:hover,
[type="email"]:hover,
[type="month"]:hover,
[type="number"]:hover,
[type="password"]:hover,
[type="search"]:hover,
[type="tel"]:hover,
[type="text"]:hover,
[type="time"]:hover,
[type="url"]:hover,
[type="week"]:hover,
input:not([type]):hover,
textarea:hover,
select[multiple]:hover {
  border-color: #b2b3b4;
}
/* line 58, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_forms.scss */
[type="color"]:focus,
[type="date"]:focus,
[type="datetime"]:focus,
[type="datetime-local"]:focus,
[type="email"]:focus,
[type="month"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="text"]:focus,
[type="time"]:focus,
[type="url"]:focus,
[type="week"]:focus,
input:not([type]):focus,
textarea:focus,
select[multiple]:focus {
  border-color: #2a94d6;
  box-shadow: none;
  outline: none;
}
/* line 64, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_forms.scss */
[type="color"]:disabled,
[type="date"]:disabled,
[type="datetime"]:disabled,
[type="datetime-local"]:disabled,
[type="email"]:disabled,
[type="month"]:disabled,
[type="number"]:disabled,
[type="password"]:disabled,
[type="search"]:disabled,
[type="tel"]:disabled,
[type="text"]:disabled,
[type="time"]:disabled,
[type="url"]:disabled,
[type="week"]:disabled,
input:not([type]):disabled,
textarea:disabled,
select[multiple]:disabled {
  background-color: #eaebeb;
  cursor: not-allowed;
}
/* line 68, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_forms.scss */
[type="color"]:disabled:hover,
[type="date"]:disabled:hover,
[type="datetime"]:disabled:hover,
[type="datetime-local"]:disabled:hover,
[type="email"]:disabled:hover,
[type="month"]:disabled:hover,
[type="number"]:disabled:hover,
[type="password"]:disabled:hover,
[type="search"]:disabled:hover,
[type="tel"]:disabled:hover,
[type="text"]:disabled:hover,
[type="time"]:disabled:hover,
[type="url"]:disabled:hover,
[type="week"]:disabled:hover,
input:not([type]):disabled:hover,
textarea:disabled:hover,
select[multiple]:disabled:hover {
  border: 1px solid #dfe0e1;
}

/* line 74, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 78, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_forms.scss */
[type="search"] {
  appearance: none;
}

/* line 82, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_forms.scss */
[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 88, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_forms.scss */
[type="file"] {
  width: 100%;
}

/* line 92, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_forms.scss */
select {
  width: 100%;
}

/* line 1, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_layout.scss */
html {
  background-color: #f6f7f7;
  box-sizing: border-box;
}

/* line 6, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_layout.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 12, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_layout.scss */
figure {
  margin: 0;
}

/* line 16, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_layout.scss */
img,
picture {
  margin: 0;
  max-width: 100%;
}

/* line 1, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_lists.scss */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 8, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_lists.scss */
dl {
  margin-bottom: 0.75em;
}
/* line 11, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_lists.scss */
dl dt {
  font-weight: 600;
  margin-top: 0.75em;
}
/* line 16, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_lists.scss */
dl dd {
  margin: 0;
}

/* line 1, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_tables.scss */
table {
  border-collapse: separate;
  width: 100%;
}

/* line 6, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_tables.scss */
th {
  border-bottom: 1px solid #a7a8a9;
  text-align: left;
}

/* line 11, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_tables.scss */
th,
td {
  padding: 0.75em;
  vertical-align: middle;
}

/* line 17, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_tables.scss */
td {
  border-bottom: 1px solid #dfe0e1;
  font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
  font-kerning: normal;
  font-variant-ligatures: common-ligatures, contextual;
  font-variant-numeric: lining-nums, tabular-nums;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

/* line 1, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_typography.scss */
body {
  color: #293f54;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

/* line 8, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0;
}

/* line 20, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 24, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_typography.scss */
a {
  color: #2a94d6;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 29, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_typography.scss */
a:active, a:focus, a:hover {
  color: #206fa1;
}

/* line 36, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/base/_typography.scss */
hr {
  border-bottom: 1px solid #dfe0e1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

/* line 1, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_app-container.scss */
.app-container {
  margin-right: auto;
  margin-left: auto;
  align-items: stretch;
  display: flex;
  max-width: 100em;
  min-height: 100vh;
}

/* line 1, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_attributes.scss */
.attribute-label {
  color: #7b808c;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.0357em;
  position: relative;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 14.7019570017%;
  clear: left;
  margin-top: 0;
  text-align: right;
}
/* line 89, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/neat-1.7.4/app/assets/stylesheets/grid/_span-columns.scss */
.attribute-label:last-child {
  margin-right: 0;
}

/* line 9, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_attributes.scss */
.preserve-whitespace {
  white-space: pre;
  word-wrap: break-word;
}

/* line 14, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_attributes.scss */
.attribute-data {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 82.9403914003%;
  margin-right: 0;
  margin-bottom: 1.5em;
}
/* line 89, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/neat-1.7.4/app/assets/stylesheets/grid/_span-columns.scss */
.attribute-data:last-child {
  margin-right: 0;
}

/* line 1, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_buttons.scss */
button, [type='button'], [type='reset'], [type='submit'],
.button {
  appearance: none;
  background-color: #2a94d6;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
/* line 22, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_buttons.scss */
button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus,
.button:hover,
.button:focus {
  background-color: #2276ab;
  color: #fff;
}
/* line 28, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_buttons.scss */
button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled,
.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
/* line 32, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_buttons.scss */
button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover,
.button:disabled:hover {
  background-color: #2a94d6;
}

/* line 1, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_cells.scss */
.cell-label {
  color: #7b808c;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.0357em;
  position: relative;
  text-transform: uppercase;
}
/* line 5, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_cells.scss */
.cell-label:hover a {
  color: #2a94d6;
}
/* line 9, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_cells.scss */
.cell-label:hover svg {
  fill: #2a94d6;
  transform: rotate(180deg);
}
/* line 15, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_cells.scss */
.cell-label a {
  width: 100%;
  color: inherit;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* line 23, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_cells.scss */
.cell-label--asc,
.cell-label--desc {
  font-weight: 600;
}

/* line 28, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_cells.scss */
.cell-label__sort-indicator {
  display: inline-block;
  height: 1em;
  overflow: hidden;
  position: absolute;
  right: 0;
}
/* line 35, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_cells.scss */
.cell-label__sort-indicator svg {
  height: 100%;
  transition: transform 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
  fill: #7b808c;
}

/* line 42, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_cells.scss */
.cell-label__sort-indicator--desc {
  transform: rotate(180deg);
}

/* line 46, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_cells.scss */
.cell-data--number,
.cell-label--number {
  text-align: right;
}

/* line 1, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_field-unit.scss */
.field-unit {
  width: 100%;
  align-items: center;
  display: flex;
  margin-bottom: 1.5em;
  position: relative;
}
/* line 20, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/bourbon-7.0.0/core/bourbon/library/_clearfix.scss */
.field-unit::after {
  clear: both;
  content: "";
  display: block;
}

/* line 10, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_field-unit.scss */
.field-unit__label {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 14.7019570017%;
  text-align: right;
}
/* line 89, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/neat-1.7.4/app/assets/stylesheets/grid/_span-columns.scss */
.field-unit__label:last-child {
  margin-right: 0;
}

/* line 15, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_field-unit.scss */
.field-unit__field {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 40.2913699012%;
}
/* line 89, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/neat-1.7.4/app/assets/stylesheets/grid/_span-columns.scss */
.field-unit__field:last-child {
  margin-right: 0;
}

/* line 2, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash--alert {
  background-color: #f0cd66;
  color: #211903;
  padding: 0.75em 1.5em;
}
/* line 7, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash--alert a {
  color: black;
}
/* line 10, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash--alert a:focus, .flash--alert a:hover {
  color: black;
}

/* line 2, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash--error {
  background-color: #c77067;
  color: black;
  padding: 0.75em 1.5em;
}
/* line 7, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash--error a {
  color: black;
}
/* line 10, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash--error a:focus, .flash--error a:hover {
  color: black;
}

/* line 2, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash--notice {
  background-color: #95caeb;
  color: #0c2d42;
  padding: 0.75em 1.5em;
}
/* line 7, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash--notice a {
  color: #041017;
}
/* line 10, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash--notice a:focus, .flash--notice a:hover {
  color: black;
}

/* line 2, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash--success {
  background-color: #4ab471;
  color: black;
  padding: 0.75em 1.5em;
}
/* line 7, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash--success a {
  color: black;
}
/* line 10, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash--success a:focus, .flash--success a:hover {
  color: black;
}

/* line 1, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_form-actions.scss */
.form-actions {
  margin-left: 17.0596085997%;
}

/* line 1, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_header.scss */
.header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
}

/* line 8, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_header.scss */
.header__heading {
  font-size: 1.953125em;
  margin-top: 0;
}

/* line 13, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_header.scss */
.header__actions {
  margin-left: 1.5em;
}

/* line 1, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_main-content.scss */
.main-content {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(41, 63, 84, 0.24), 0 2px 6px rgba(41, 63, 84, 0.12);
  flex: 1;
  overflow-y: auto;
}

/* line 1, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_pagination.scss */
.pagination {
  margin-top: 1.5em;
  margin-bottom: 6em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  text-align: center;
}
/* line 6, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_pagination.scss */
.pagination .first,
.pagination .prev,
.pagination .page,
.pagination .next,
.pagination .last {
  margin: 0.75em;
}
/* line 14, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_pagination.scss */
.pagination .current {
  font-weight: 600;
}

/* line 1, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_search.scss */
.search {
  padding-right: 1.5em;
  padding-left: 1.5em;
  align-items: center;
  border-bottom: 1px solid #dfe0e1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}

/* line 13, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_search.scss */
.search__icon svg {
  height: 1em;
  width: 1em;
  fill: #7b808c;
  transition: fill 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 20, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_search.scss */
.search__icon--active svg {
  fill: #2a94d6;
}

/* line 26, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_search.scss */
.search__input {
  appearance: none;
  border: 0;
  box-shadow: none;
  flex-grow: 1;
  margin: 0;
  padding: 1.125em 0.75em;
}
/* line 34, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_search.scss */
.search__input:focus {
  box-shadow: none;
}

/* line 39, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_search.scss */
.search__hint {
  position: absolute;
  top: 1em;
  right: 0;
  color: #7b808c;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 45, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_search.scss */
.search__hint svg {
  height: 100%;
  width: 100%;
}
/* line 49, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_search.scss */
.search__hint path,
.search__hint rect {
  fill: #2a94d6;
}
/* line 54, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_search.scss */
.search__hint--active {
  opacity: 1;
}

/* line 1, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_sidebar.scss */
.sidebar {
  flex: 0 0 auto;
  max-width: 12em;
  overflow-y: auto;
  padding: 0 1.5em 1.5em;
}

/* line 8, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_sidebar.scss */
.sidebar__link {
  color: #293f54;
  display: block;
  padding-top: 1.5em;
  transition: color 0.05s linear;
}
/* line 14, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_sidebar.scss */
.sidebar__link:hover {
  color: #2a94d6;
}

/* line 19, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_sidebar.scss */
.sidebar__link--active {
  color: #2a94d6;
  font-weight: 600;
}

/* line 1, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_table.scss */
.collection-data {
  padding-right: 1.5em;
  padding-left: 1.5em;
}

/* line 5, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_table.scss */
.table__row {
  background-color: #fff;
  border-left: 2px solid transparent;
  transition: background-color 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 10, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_table.scss */
.table__row:hover {
  background-color: #f6f7f7;
  border-left-color: #2a94d6;
  cursor: pointer;
}
/* line 16, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_table.scss */
.table__row img {
  max-height: 2em;
}

/* line 21, /home/vagrant/.rvm/gems/ruby-2.2.10/gems/administrate-0.2.2/app/assets/stylesheets/administrate/components/_table.scss */
.table__action--destroy {
  color: #c77067;
}
