<div class="container-fluid">

  <% if @pending_audit_confirmations.count > 0 %>
    <div class="row">
      <div class="pending-homepage employee-blocks col-12">
        <h3>Pending Your Confirmation</h3>

        <%= render partial: 'pending_audit_confirmations', locals: { pending_audit_confirmations: @pending_audit_confirmations } %>
      </div>


    </div>
  <% end %>

  <div class="row">
    <div class="pending-homepage employee-blocks">
      <h3>Request Overtime</h3>

      <%= link_to 'Request Overtime Approval', new_post_path, class: 'btn btn-primary btn-block btn-lg' %>
    </div>


  </div>
</div>
